// Define variables for your color scheme

// For example:
$red: #FF6558;
$blue: #9DC5F5;
$yellow: #FBE74E;
$orange: #FFCADC;
$green: #18CA30;
$gray: #001401;
$light-gray: #ECEFEC;

// Our brand Color Scheme
$brand-blue: #9DC5F5;
$brand-green: #18CA30;
$brand-yellow: #FBE74E;
$brand-pink: #FFCADC;
$brand-red: #FF6558;
$brand-black: #001401;
$brand-gray: #ECEFEC;
$brand-light-gray: #F9FAF9;
