<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">

      <%= if shelter?
        render "shelteredit"
      elsif searcher?
        render "searcheredit"
      end %>

      <div class="form-login" >
        <h2>Account Deletion</h2>
        
        <% if searcher? %>
          <p>You found a dog already? - Great!</p>
          <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn-main" %>
        <% elsif shelter? %>
          <p>Unhappy with our service?</p>
          <%= link_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn-main" %>
        <% end %>
      
      </div>

    </div>
  </div>
</div>
