<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">

      <%= if shelter?
        render "shelteredit"
      elsif searcher?
        render "searcheredit"
      end %>

      <div class="form-login" >
        <h3>Account Deletion</h3>
        
        <% if searcher? %>
          <div>
            <h5>You found a dog already? - Great!</h5>
            <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
          </div>
        <% elsif shelter? %>
          <div>
            <h5>Unhappy with our service?</h5>
            <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
          </div>
        <% end %>
      
      </div>

    </div>
  </div>
</div>
