<% if searcher? %>
  <div class="container">
  <h1>Your favorite dogs</h1>
    <div><%= link_to '<i class="fa-solid fa-arrow-left"></i> back to all dogs'.html_safe, dogs_path %></div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @favorites.each do |favorite| %>
        <%= render "shared/cardfavorites", favorite: favorite %>
      <% end %>
    </div>
  </div>
<% end %>
