<% if searcher? %>
  <h1>Your favorite dogs</h1>
  <div class="py-4">
    <div class="mb-3"><%= link_to '<i class="fa-solid fa-arrow-left"></i> back to browse all dogs'.html_safe, dogs_path %></div>
    <div class="row justify-content-center gy-5 gx-5">
      <% @favorites.each do |favorite| %>
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 d-flex justify-content-center">
          <%= render "shared/cardfavorites", favorite: favorite %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
