.pref-show-present {
    h5 {
        margin-top: 40px;
        margin-bottom: 16px;
    }
    i {
        margin-left: 16px;
    }
}

.pref-show-pref-add {
    h5 {
        margin-top: 40px;
        margin-bottom: 16px;
    }
}

.pref-show-btns {
    margin-top: 32px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    a.btn-main {
        width: 120px;
        text-align: center;
    }
}

p.pref-show-div-header {
    font-weight: 600;
}

.pref-show-oneliner {
    margin-top: 16px;
    align-items: baseline;
    i {
        margin-left: 0;
        margin-right: 8px;
    }
    p {
        margin-right: 8px;
    }
}

.brand-green {
    color: $brand-green;
}