<div id="aichat-widget" class="aichat-widget" data-controller="aichat">

  <%= image_tag "chat_question_mark.jpg",
          crop: :fill,
          gravity: :auto,
          class: "aichat-icon",
          alt: "chat_question_mark",
          data: { action: "click->aichat#open", aichat_target: "toggle" } %>

  <!-- Shows the chat box partial -->
  <div data-aichat-target="window"
      class="card chat-window d-none shadow">
    <%= render "ai_chats/aichat_box", ai_chat: ai_chat, ai_message: ai_message %>
  </div>
</div>
