
  <div class="col">
    <%= link_to dog_path(dog) do %>
    <div class="card h-100">
      <% if dog.photos.attached? %>
        <%= cl_image_tag dog.photos.first.key, crop: :fill, gravity: :auto, class: "dog-index-img" %>
      <% else %>
        <div class="dog-index-img background"></div>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= dog.name %></h5>
        <p class="card-text"><%= dog.age %> years old</p>
          <%# <a href="#" class="btn btn-main">Add to favorite</a> %>
      </div>
    </div>
    <% end %>
  </div>
