<% if notice %>
  <div class="alert alert-blue show" role="alert">
    <%= notice %>
    <button type="button" class="alert-btn" data-bs-dismiss="alert" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-red show" role="alert">
    <%= alert %>
    <button type="button" class="alert-btn" data-bs-dismiss="alert" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
<% end %>
