<%= link_to '<i class="fa-solid fa-arrow-left"></i> back to home'.html_safe, root_path %>

<h3><%= searcher? ? @searcher_name : @shelter_name %> open chats </h3>

<ul>
<% @chats.each do |chat| %>
  <li><%= link_to chat.dog.name, chat_path(chat)%></li>
<% end %>
</ul>
