<%= link_to '<i class="fa-solid fa-arrow-left"></i> back to home'.html_safe, root_path %>

<h3><%= searcher? ? @searcher_name : @shelter_name %> open chats </h3>

<% @chats.each do |chat| %>
  <div class="border mb-3 px-2">
    <% other_user = searcher? ?  chat.shelter.name : chat.searcher.username  %>
    <h6 class="mb-0 fw-bold"><%= link_to "#{chat.dog.name} with #{other_user}", chat_path(chat)%></h6>
    <% if chat.messages.any? %>
    <small class="text-muted"><i><%= "#{chat.messages.last.content.truncate(15)}..." %></i></small>
    <% end %>
  </div>
<% end %>
