<h1>Set up preferences to<br>find your perfect dog</h1>

<%= link_to '<i class="fa-solid fa-arrow-left"></i> back without setting preferences'.html_safe, root_path %>

<%= render "form", preference: @preference %>
<%= render "shared/aichat"%>
