.avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;

  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-dropdown {
  background-color: #FFCADC;
  border: 2px solid black;
  position: fixed;
  top: 40px;
  right: 40px;
  border-radius: 16px;
  z-index: 1000;
}

.dropdown-item:hover {
    background-color: black;
    color: white;
  }

// .avatar-large {
//   width: 56px;
//   border-radius: 50%;
// }
