.btn-main {
    background-color: #0f0f0f;
    border: 2px solid #0f0f0f;
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    text-decoration: none;

    &:hover {
        background-color: #9DC4F5;
        color: black;
    }
}

.btn-second {
    background-color: white;
    border: 2px solid white;
    color: black;
    padding: 8px 24px;
    border-radius: 50px;
    text-decoration: none;

    &:hover {
        background-color: #FBE74E;
        color: black;
    }
}

.btn-small {

}