// login and signup
.form-login {
    background: white;
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 16px;
    border: 2px solid black;
    h2 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
    }
}


// DOG/PREFERENCES FORM main styling
.dog-form {
    margin-top: 40px;
    @media (max-width: 500px) {
        padding: 16px;
    }
    @media (min-width: 500px) {
        padding: 40px;
    }
    background-color: white;
    border: 2px solid black;
    border-radius: 16px;
}

.dog-form-div {
    background-color: #ECEFEC;
    border-radius: 16px;

    @media (max-width: 500px) {
        padding: 16px 16px 8px 16px;
        margin-bottom: 16px;
    }
    @media (min-width: 500px) {
        padding: 40px 40px 24px 40px;
        margin-bottom: 40px;
    }


    position: relative;
    
    p {
        padding-bottom: 16px;
    }
}

.dog-form-div-header {
    color: black;
    font-weight: 400;
    position: absolute;
    font-size: 18px;
    top: 40px;
    right: 40px;
}

.dog-div-columns {
    display: flex;
    justify-content: space-between;
}

label .optional {
    font-size: 12px;
    color: rgb(75, 74, 74);
    font-weight: lighter;
    padding-left: 8px;
    vertical-align: middle; 
}

// text input fields
.input-field {
    border-radius: 8px;
    width: 400px;
    &:focus {
        border-bottom: $brand-blue;
    }
}

.input-field-wrapper {
    display: flex;
    align-items: baseline;
    label {
        width: 140px;
    }
}

.input-field-big {
    width: 100%;
}

// toggles for basic form inputs
.toggle {
    position: absolute;
    transform: scale(0);
}

.toggle + label {
    position: relative;
    display: inline-block;
    padding-left: 52px;
}

.toggle + label::before {
    content: '';
    display: block;
    position: absolute;
    cursor: pointer;
    width: 36px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: $brand-yellow;
    border-radius: 8px;
}

.toggle:checked + label::before {
    background-color: $brand-green;
}

.toggle + label::after {
    content: '';
    display: block;
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.2s ease;
}

.toggle:checked + label::after {
    left: 18px;
}

.form-check {
    padding: 0px;
}

// tags for multipe choices / collection choices
.tag-item {
    display: inline-block;

    label {
        text-align: center;
    }
}

.tag-selector {
    position: absolute;
    transform: scale(0);
}

.tag-selector + label {
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    padding: 0.1rem 0.5rem;
    background-color: $brand-yellow;
    color: black;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
    background-color: $brand-green;
    color: black;
    border: 1px solid black;
}

// ranges (age, weigth, height)
.range {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;

    input {
        width: 100px;
        border: 1px solid black;
        border-radius: 8px;
        text-align: center;
    }
}

// dates
.date-line {
    border-radius: 8px;
    width: 400px;
}
body .flatpickr-calendar {
    background: $brand-yellow;
    border: 2px solid black;
    border-radius: 16px;
    overflow: hidden;
    font-family: $my-font;
}
body .flatpickr-day.selected {
    background-color: $brand-green;
    border: 1px solid black;
}
body .flatpickr-day.selected:hover {
    background-color: $brand-blue;
    border: 1px solid black;
    color: black;
}

// specifics
.dog_birthday, .dog_gender {
    display: flex;
    align-items: baseline;
    legend {
        width: 140px;
    }

}
.dog_birthday  {
    label {
        width: 140px;
    }
}
