.navbar-bottom {
  display: block;

  @media (min-width: 800px) {
    display: none; // navbar hidden from tablet on and bigger
  }

  position: fixed;
  bottom: 0;
  width: 100%;
  flex-grow: 0;
  height: 48px;

  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;

  list-style: none;
  background: #ECEFEC;

}

.navbar-top {
  display: block;

  @media (max-width: 500px) {
    display: none; // navbar hidden from small devices
  }

  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  flex-grow: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #85df85;

}
