.navbar-bottom {
  display: block;

  @media (min-width: 820px) {
    display: none; // navbar hidden from tablet on and bigger
  }

  position: fixed;
  bottom: 0;
  width: 100%;
  flex-grow: 0;

  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  list-style: none;
  background: #ECEFEC;
  height: 60px;
}

