.navbar-bottom {
  display: block;

  @media (min-width: 800px) {
    display: none; // navbar hidden from tablet on and bigger
  }

  position: fixed;
  bottom: 0;
  width: 100%;
  flex-grow: 0;
  height: 56px;

  display: flex;
  justify-content: center;
  gap: 48px;
  align-items: center;
  z-index: 900;

  list-style: none;
  background: $brand-blue;
  border-top: 2px solid black;
  font-size: 32px;
}

.navbar-top {
  display: block;

  @media (max-width: 500px) {
    display: none; // navbar hidden from small devices
  }

  position: fixed;
  top: 0;
  height: 80px;
  width: calc(100% - 32px);
  flex-grow: 0;
  z-index: 900;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $brand-blue;
  border-radius: 16px;
  border: 2px solid black;

  padding: 16px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.navbar-top-background {
  display: block;

  @media (max-width: 500px) {
    display: none; // navbar hidden from small devices
  }

  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  flex-grow: 0;
  z-index: 800;
  background-color: white;
}

.navbar-logo {
  width: 200px;
  img {
    padding-left: 16px;
    width: 90%;
    padding-bottom: 4px;
  }
}