.tabs-desktop {
    display: block;

    @media (max-width: 500px) {
        display: none; // navbar hidden from smaller devices
    }

    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;

    position: fixed;
    top: 96px;
    width: 100%;
    flex-grow: 0;


    gap: 20px;
    background-color: white;
    height: 48px;
}

.tabs-desktop .tab-desktop {
    color: black;
    padding: 8px;
    margin: 8px;
    opacity: .4;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 4px solid transparent;
}

.tabs-desktop .tab-desktop.active {
    opacity: 1;
    border-bottom: 3px solid #555555;
}

.tab-blue {

}

.tab-rosa {

}

.tab-yellow {
    
}