// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr.min.css";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
    background-color: white;
}

#main-content {

    @media (min-width: 800px) {
        padding-top: 176px;
        padding-bottom: 40px;
        padding-left: 120px;
        padding-right: 120px;
    }
    @media (max-width: 800px) {
        padding-bottom: 64px;
        padding-top: 176px;
        padding-left: 80px;
        padding-right: 80px;
    }
    @media (max-width: 500px) {
        padding-top: 16px;        
        padding-bottom: 72px;
        padding-left: 16px;
        padding-right: 16px;
    }

}

a {
    text-decoration: none;
    color: $brand-black;
    &:hover {
        cursor: pointer;
    }
}
