<%= turbo_stream_from ai_chat %> <%# Subscribe the client chat to a channel %>

<div class="chat-window-popup">
  <div class="chat-window-topic">
    <h3> Ask our Dog-Bot for help in defining your preferences </h3>
    <button data-action="click->aichat#close"
              data-aichat-target="xtoggle"
              class="btn btn-sm btn-outline-secondary d-none">&times;</button>
  </div>

  <div id="ai_messages">
    <%= render "ai_messages/messages", messages: ai_chat.ai_messages %>
  </div>

  <div id="new_ai_message" class="mt-3">
    <%= render "ai_messages/form", chat: ai_chat, message: ai_message %>
  <div>
</div>
